# Project exclude paths
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (1)/exercise1.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (2)/exercise2.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (3)/exercise3.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (4)/exercise4.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (5)/exercise5.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (6)/exercise6.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (7)/exercise7.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (8)/exercise8.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (9)/exercise9.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (10)/exercise10.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (11)/exercise11.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (12)/exercise12.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (13)/exercise13.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (14)/exercise14.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (15)/exercise15.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (16)/exercise16.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (17)/exercise17.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (18)/exercise18.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (19)/exercise19.js
/Assignments/typescript_assignments/PIAIC-ASSIGNMENTS/exercise (20)/exercise20.js
/Assignments/typescript_assignments/piaic-exercise1--6/areaOfrectangle/index.js
/Assignments/typescript_assignments/piaic-exercise1--6/chectVote/index.js
/Assignments/typescript_assignments/piaic-exercise1--6/evenOdd/index.js
/Assignments/typescript_assignments/piaic-exercise1--6/mathExpression/index.js
/Assignments/typescript_assignments/piaic-exercise1--6/positiveNegativeZoro/index.js
/Assignments/typescript_assignments/piaic-exercise1--6/volumeOfCube/index.js
/Assignments/typescript_assignments/project03_todo_list/data/Database.js
/Assignments/typescript_assignments/project03_todo_list/data/questionbank.js
/Assignments/typescript_assignments/project03_todo_list/data/Types.js
/Assignments/typescript_assignments/project03_todo_list/index.js