#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  }
  
  /* Style all elements with the class name "city" */
  .city {
    background-color: tomato;
    color: white;
    padding: 10px;
  }