body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 10px;
    border: 2px solid red;
}

.sub-container {
    background-image: url("images.jpg");
    height: 400px;

    border: 2px solid red;
    background-size: cover;
}

nav {
    outline: 2px solid green;
    position: relative;
    top: 20px;
    left: 20px;display: inline-block;
    background-color: #555555;

}

nav a {
    color: white;
    padding: 20px;
display: inline-block;
    border: 2px solid red;
    text-decoration: none;
    font-size: 23px;

}
nav a:hover { background-color: #dddddd;
color: black;}