#first {
    outline: 2px solid black;
     padding:  ;
    max-width: 800px;

    text-align: center ;
}


#second {
    outline: 2px solid red;
    tex

}

#third {
    outline: 2px solid blue;
}

#fourth {
    outline: 2px solid green;
}

#fifth {
    outline: 2px solid orange;
}
