
body {
    margin: 0;
}


div {
    height: 100px;
    width: 100px;
    background-color: green;
    transform: translate(50px, 50px);
    transform: rotate(50deg);
    transform: scale(3.0, 2.0) ;
    transform: skew(50deg, 50deg);

}

