body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav {
    display: flex;
}

a, button {
    padding: 10px;
    outline: none;
    text-decoration: none;
    border: none;
}
button{
    background-color: #04AA6D;
}

[class*="subnav-"] {
    position: absolute;
    background-color: #04AA6D;
    display: none;
    left: 0;
    right: 0;

}

.subnav a {
    display: inline-block;
}
.subnav a:hover{
    background-color: #333333;
}

.subnav:hover [class*="subnav-"] {
    display: block;
}
