.form-control {
    padding-top: 16px;
    padding-bottom: 16px;
}
.card_style {
    position: relative;
    background-color: #f6f5f7;
    transition: 0.3s ease all;
    cursor: pointer;

}

.card_style:hover {
    background-color: #e5e4e6;
    cursor: pointer;
}
.file_upload {
    opacity: 0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
}
